@font-face {
    font-family: 'Knewwave2';
    src: url('../../src/assets/fonts/knewave\ 2.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Knewwave3';
    src: url('../../src/assets/fonts/knewave\ 3.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Knewwave4';
    src: url('../../src/assets/fonts/knewave\ 4.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Knewwave5';
    src: url('../../src/assets/fonts/knewave\ 5.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Knewwave6';
    src: url('../../src/assets/fonts/knewave\ 6.ttf') format('truetype');
  }